    body {
        background-color: #ffffff;
        padding: 0;
        margin: 0;
    }

    #banner {
        height: 100px;
        width: 100%;
        background-color: #003f5c;
        clear: both;
        position: fixed;
        padding-left: 2%;
    }

    h1 {
        font-size: 40px;
        font-weight: 600;
    }

    #banner-placeholder {
        height: 100px;
    }

    #navigator-bar {
        width: 15%;
        padding: 1%;
        background-color: rgba(58, 124, 165, 0.5);
        height: fit-content;
        margin-left: 1.5%;
        font-size: 12px;
        text-decoration: none;
        position: fixed;
    }

    #navigator-bar-placeholder {
        width: 18%;
    }

    a {
        text-decoration: none;
        font-size: 20px;
        line-height: 200%;
        color:rgb(50, 50, 50)
    }

    a:visited {
        color: rgb(0, 0, 0);
    }

    #content {
        width: 50%;
        background-color: #eeeeee;
        padding: 3%;
    }

    p {
        font-size: 22px;
        line-height: 200%;
        text-align: justify;
    }

    #center {
        display: flex;
        gap: 2.5%;
        margin: 1% 0;
    }

    #supporting-info {
        width: 15%;
        background-color: #bff0f8;
        height: fit-content;
        margin-right: 1%;
        padding: 1%;
        color:rgb(50, 50, 50) ;
    }

    #footer {
        height: 100px;
        background-color: #003f5c;
        color:white;
        line-height: 200%;
        text-align: center;
        justify-content: center;
        padding-top: 5px;
    }